.mainContainer{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(247, 248, 248);
  width: 50%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 1px 0px 14px 1px rgba(0,0,0,0.75);
  gap: 20px;
}
.datePickerView{
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.datePicker{
  border: 1px solid;
  margin-left:10px;
  height: 40px;
  width: 150px;
  padding-left: 10px;
  font-size: 20px;
}
.fromData{
  display: flex;
  align-items: center;
}
.toDate{
  /* margin-left: 100px; */
  display: flex;
  align-items: center;
}
.file-upload {
  text-align: center;
  border: 3px dashed rgb(46, 47, 48);
  padding: 1.5rem;
  position: relative;
  cursor: pointer;
}
.file-upload input {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  cursor: pointer;
}
.exportButton{
  height: 50px;
  width: 150px;
  border-radius: 5px;
  background-color: aqua;
  color: white;
  border: none;
  cursor: pointer;
}
.exportButton:hover{
  box-shadow: 1px 0px 14px 1px rgba(0,0,0,0.2);
}
.progressView{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

@media all and (max-width:520px){
.datePickerView{
  flex-direction: column;
  align-content: center;
}
.fromData{
  flex-direction: column;
}
.toDate{
  flex-direction: column;
}
.progressView{
  width: 100%;
}
.progressView > h3{
  font-size: 12px;
  text-align: center
}
}
